@model IEnumerable<TodoListApp.Services.Models.TodoList>

<h2>To-Do Lists</h2>
<a asp-action="Create" class="btn btn-success">New todo list</a>

<table class="table">
	<caption>TodoLists Table</caption>
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var todoList in Model)
		{
			<tr>
				<td>@todoList.Name</td>
				<td>@todoList.Description</td>
				<td>
					<a asp-action="Edit" asp-route-id="@todoList.Id" class="btn btn-primary">Edit</a>
					<a asp-action="Delete" asp-route-id="@todoList.Id" class="btn btn-danger">Delete</a>
					<a asp-controller="Task" asp-action="Index" asp-route-todolistid="@todoList.Id" class="btn btn-secondary">Details</a>
				</td>
			</tr>
		}
	</tbody>
</table>
