@model IEnumerable<TodoListApp.Services.Models.TaskTodo>



<h2>Tasks</h2>
<table class="table">
	<caption>Tasks table</caption>
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var task in Model)
		{
			string status;
			if (task.StatusId == "not started")
			{
				status = "Not Started";
			}
			else if (task.StatusId == "in progress")
			{
				status = "In Progress";
			}
			else
			{
				status = "Completed";
			}
			<tr>
				<td>@task.Title</td>
				<td>@task.Description</td>
				<td>@status</td>
				<td>
					<a asp-action="Details" asp-route-id="@task.Id" class="btn btn-outline-info">Details</a> |
					<a asp-action="Edit" asp-route-id="@task.Id" class="btn btn-outline-secondary">Edit</a> |
					<a asp-action="Delete" asp-route-id="@task.Id" class="btn btn-outline-danger">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
<a asp-action="Create" asp-route-todoListId="@ViewBag.TodoListId" class="btn btn-primary">Add New Task</a>
<a asp-controller="TodoList" asp-action="Index" class="btn btn-secondary">Back to TodoLists</a>
